@{
    Layout = "~/Views/Shared/Normal.cshtml";
}

<style>
    .card {
        min-width: 1200px;
    }
    .card input {
        width: 20rem;
    }
</style>
<script type="text/javascript">
    //<![CDATA[
    require(['jquery', 'xyvalid', 'boss'], function ($, v, boss) {
        $(function () {
            $("#password_old").focus();

            var _form = $('form:first');
            _form.xyvInit();

            //提交
            $('#Submit').on('click', function () {
                if (_form.xyvValid()) {
                    boss.submit(_form);
                }
            });
        });
    });
    //]]>
</script>

<form method="post" action="/my/password_update">

    <div class="container-fluid">

        <div class="card">
            <div class="card-header b">修改密码</div>
            <div class="card-body">

                <div class="row justify-content-center mt1r mb05r">
                    <div class="col-xl-1 col-lg-1 col-md-1 col-xs-1 col-sm-1 col-1 pt0375r">
                        <span class="fl mr025r gray">原始密码</span>
                        <span class="fl red b pt0125r">*</span>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-xs-9 col-sm-9 col-9">
                        <input type="password" id="PasswordOld" name="PasswordOld" maxlength="16" value="" class="form-control form-control-sm" placeholder="请输入4-16位原始密码"
                               xy-required="true" xy-pattern="^.{4,16}$" xy-unsafe="true" xy-title="请输入4-16位原始密码！" />
                    </div>
                </div>

                <div class="row justify-content-center mb05r">
                    <div class="col-xl-1 col-lg-1 col-md-1 col-xs-1 col-sm-1 col-1 pt0375r">
                        <span class="fl mr025r gray">新密码</span>
                        <span class="fl red b pt0125r">*</span>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-xs-9 col-sm-9 col-9">
                        <input type="password" id="PasswordNew" name="PasswordNew" maxlength="16" value="" class="form-control form-control-sm" placeholder="请输入4-16位新密码"
                               xy-required="true" xy-pattern="^.{4,16}$" xy-unsafe="true" xy-title="请输入4-16位新密码！" />
                    </div>
                </div>

                <div class="row justify-content-center mb05r">
                    <div class="col-xl-1 col-lg-1 col-md-1 col-xs-1 col-sm-1 col-1 pt0375r">
                        <span class="fl mr025r gray">新密码确认</span>
                        <span class="fl red b pt0125r">*</span>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-xs-9 col-sm-9 col-9">
                        <input type="password" id="PasswordNewAgain" name="PasswordNewAgain" maxlength="16" value="" class="form-control form-control-sm" placeholder="请确认新密码输入一致"
                               xy-same="PasswordNew" xy-unsafe="true" xy-title="请确认新密码输入一致！" />
                    </div>
                </div>

                <div class="row justify-content-center mb1r">
                    <div class="col-xl-1 col-lg-1 col-md-1 col-xs-1 col-sm-1 col-1"></div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-xs-9 col-sm-9 col-9">
                        <button id="Submit" type="button" class="btn btn-sm btn-warning fl pl3r pr3r mr05r">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <span>提交</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</form>